<%= form_for :session, url: login_path, :html => {:class => "container"} do |f| %>
  <h1 class = 'home welcome'>Welcome to Listr</h1>
  <% flash.each do |message_type, message| %>
    <div class="alert">
      <%= message %>
    </div>
  <% end %>
  <h2>Log In</h2>
  <div class="form">
    <%= f.label :username, "Username: " %>
    <%= f.text_field :username %>
    <%= f.label :password, "Password: "%>
    <%= f.password_field :password %>
    <%= f.submit "Log In" %>
  </div>
  <p>
  <h2>  New User? </h2> <div class = "create"> <button type = "button"> <%= link_to 'Create Account', new_user_path %>
  </button>
  <div>
  </p>
<% end %>
