<%= form_for @user, :html => {:class => "container"} do |f| %>
  <% if @user.errors.any? %>
    <div class="error_messages">
      <ul>
        <% for message in @user.errors.full_messages %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form">
    <%= f.label :username, "Enter a Username: "%>
    <%= f.text_field :username%>
    <%= f.label :password, "Enter a Password (must be at least 6 characters long): "%>
    <%= f.password_field :password%>
    <%=  f.submit%>
  </div>
<% end %>
